<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
</head>
<body class="bg-gray-100">
{% include 'header.html' %}
<div class="p-6 font-sans" style="font-family: 'Noto Sans', sans-serif;">
    <div class="w-2/4 mx-auto mt-4">

        <div class="flex space-x-4">
            <button id="confirmButton" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">Salvar Tabela</button>
            <label class="flex items-center mt-4">
                <span class="mr-2">Editar Produtos</span>
                <div class="relative inline-block w-10 align-middle select-none transition duration-200 ease-in">
                    <input type="checkbox" id="toggle-product-edited"
                           class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer checked:right-0 right-4 checked:border-green-400"
                           {% if product_edited %}checked{% endif %}>
                    <label for="toggle-product-edited"
                           class="block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
                </div>
            </label>
        </div>

        <table id="tsvTable" class="mt-4 w-full table-auto bg-white border rounded-lg shadow-md"></table>

        <div id="modal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
            <div class="bg-white p-6 rounded shadow-md">
                <p class="mb-4">Alterar top 3 produtos?</p>
                <button id="modalConfirm" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2">Sim</button>
                <button id="modalCancel" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Não</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        const tsvPath = '{{ tsv_path }}';
        fetch(tsvPath)
            .then(response => response.text())
            .then(data => {
                const lines = data.split('\n');
                const table = document.getElementById('tsvTable');
                lines.forEach((line, index) => {
                    const row = document.createElement('tr');
                    row.className = index === 0 ? 'bg-gray-100 font-semibold' : 'hover:bg-gray-50';

                    const cells = line.split('\t');
                    cells.forEach(cell => {
                        const cellElement = document.createElement(index === 0 ? 'th' : 'td');
                        cellElement.className = 'px-4 py-2 border border-gray-300';
                        cellElement.contentEditable = index !== 0;
                        cellElement.textContent = cell;
                        row.appendChild(cellElement);
                    });
                    table.appendChild(row);
                });
            })
            .catch(err => console.error('Erro ao carregar o TSV:', err));

        const confirmButton = document.getElementById('confirmButton');
        const modal = document.getElementById('modal');
        const modalConfirm = document.getElementById('modalConfirm');
        const modalCancel = document.getElementById('modalCancel');

        confirmButton.addEventListener('click', () => {
            modal.classList.remove('hidden');
        });

        if (modalCancel && modalConfirm) {
            modalCancel.addEventListener('click', () => {
                modal.classList.add('hidden');
            });

            modalConfirm.addEventListener('click', () => {
                modal.classList.add('hidden');
                const table = document.getElementById('tsvTable');
                let tsvContent = '';

                Array.from(table.rows).forEach(row => {
                    let rowContent = [];
                    Array.from(row.cells).forEach(cell => {
                        rowContent.push(cell.textContent.trim());
                    });
                    tsvContent += rowContent.join('\t') + '\n';
                });

                fetch('/save-edited-top-products', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ data: tsvContent })
                })
                    .then(response => {
                        if (response.ok) {
                            alert('Tabela salva com sucesso!');
                        } else {
                            alert('Erro ao salvar a tabela.');
                        }
                    })
                    .catch(err => console.error('Erro ao salvar o TSV:', err));
            });
        }

        const toggleCheckbox = document.getElementById('toggle-product-edited');
        if (toggleCheckbox) {
            toggleCheckbox.addEventListener('change', (event) => {
                console.log("mudou");
                const isChecked = event.target.checked;
                fetch('/toggle_product_edited', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productEdited: isChecked })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.message) {
                            console.log('PRODUCT_EDITED atualizado com sucesso!');
                        } else {
                            console.error('Erro ao atualizar PRODUCT_EDITED: ' + data.error);
                        }
                    })
                    .catch(error => {
                        console.error('Erro ao enviar a solicitação:', error);
                    });
            });
        } else {
            console.error("Elemento de checkbox não encontrado.");
        }
    });
</script>
</body>
</html>
