<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <style>
        #tables-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            justify-content: center;
            align-items: start;
            padding: 20px;
        }

        .fixed-table {
            width: 600px;
            table-layout: fixed;
            overflow: hidden;
        }

        .fixed-table th, .fixed-table td {
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .table-title {
            text-align: center;
        }

        .container-items {
            display: flex;
            gap: 10px;
            grid-column: 1 / -1;
            margin-bottom: 20px;
            align-items: center;
            padding:20px;
        }

    </style>
</head>
<body class="bg-gray-100">
{% include 'header.html' %}


<div class="container-items">
    <button id="add-button" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700 w-56">
        Enviar para o Painel
    </button>

    <button id="reset-button" class="mt-4 px-4 py-2 bg-red-500 text-white rounded hover:bg-red-700 w-56">
        Resetar Tabelas
    </button>

    <select id="table-group-select" class="mt-4 px-4 py-2 border rounded">
        <option value="non-editable">Tabelas Não Editáveis</option>
        <option value="editable">Tabelas Editáveis</option>
    </select>

    <label class="flex items-center mt-4">
        <span class="mr-2">Editar Trending projects</span>
        <div class="relative inline-block w-10 align-middle select-none transition duration-200 ease-in">
            <input type="checkbox" id="toggle-trending-edited"
                   class="toggle-checkbox absolute block w-6 h-6 rounded-full bg-white border-4 appearance-none cursor-pointer checked:right-0 right-4 checked:border-green-400"
                   {% if trending_products_edited %}checked{% endif %}>
            <label for="toggle-trending-edited"
                   class="block overflow-hidden h-6 rounded-full bg-gray-300 cursor-pointer"></label>
        </div>
    </label>
</div>

<div id="tables-container"></div>

<script>
    const files = {{ files | tojson }};
    const filesEdited = {{ files_edited | tojson }};
    const container = document.getElementById('tables-container');
    const selectElement = document.getElementById('table-group-select');

    async function loadTSV(file, folder) {
        const response = await fetch(`/download-tsv${folder}/${file}`);
        const text = await response.text();
        return text;
    }

    function createTableFromTSV(content, title, editable) {
        const table = document.createElement('table');
        table.className = 'min-w-full bg-white border rounded-lg shadow-md fixed-table';

        const caption = document.createElement('caption');
        caption.className = 'bg-gray-200 text-lg font-semibold p-3 border-b table-title';
        caption.contentEditable = editable;
        caption.textContent = title;
        table.appendChild(caption);

        const rows = content.trim().split('\n');
        const headers = rows[0].split('\t');

        const thead = document.createElement('thead');
        const headerRow = document.createElement('tr');
        headerRow.className = 'bg-gray-100 text-gray-700';
        headers.forEach(header => {
            const th = document.createElement('th');
            th.className = 'px-4 py-2 text-left font-semibold';
            th.textContent = header;
            headerRow.appendChild(th);
        });
        thead.appendChild(headerRow);
        table.appendChild(thead);

        const tbody = document.createElement('tbody');
        tbody.className = 'divide-y divide-gray-200';
        rows.slice(1).forEach(row => {
            const tr = document.createElement('tr');
            const cells = row.split('\t');
            cells.forEach(cell => {
                const td = document.createElement('td');
                td.className = 'px-4 py-2';
                if (editable) {
                    td.contentEditable = true;
                }
                td.textContent = cell;
                tr.appendChild(td);
            });
            tbody.appendChild(tr);
        });
        table.appendChild(tbody);
        container.appendChild(table);
    }

    async function displayTables(fileList, editable, folder) {
        container.innerHTML = '';
        for (const file of fileList) {
            const filename = file.replace('.tsv', '');
            const content = await loadTSV(file, folder);
            createTableFromTSV(content, filename, editable);
        }
    }

    selectElement.addEventListener('change', () => {
        const selectedGroup = selectElement.value;
        if (selectedGroup === 'non-editable') {
            displayTables(files, false, '');
        } else {
            displayTables(filesEdited, true, '-edited');
        }
    });

    document.getElementById('add-button').addEventListener('click', async () => {
        const tables = document.querySelectorAll('.fixed-table');
        const dataToSend = [];

        tables.forEach(table => {
            const title = table.querySelector('caption').textContent.trim();
            const rows = [];
            table.querySelectorAll('tr').forEach((row, rowIndex) => {
                const cells = [];
                row.querySelectorAll('th, td').forEach(cell => {
                    cells.push(cell.textContent.trim());
                });
                rows.push(cells.join('\t'));
            });
            dataToSend.push({ filename: `${title}.tsv`, content: rows.join('\n') });
        });

        await fetch('/save_trending_products_tables', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(dataToSend)
        });
        alert("Tabelas enviadas com sucesso!");
    });

    document.getElementById('toggle-trending-edited').addEventListener('change', (event) => {
        const isChecked = event.target.checked;
        fetch('/toggle_trending_products_edited', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ trendingProductsEdited: isChecked })
        })
            .then(response => response.json())
            .then(data => {
            if (data.message) {
                console.log('TRENDING_PRODUCTS_EDITED atualizado com sucesso!');
            } else {
                console.error('Erro ao atualizar TRENDING_PRODUCTS_EDITED: ' + data.error);
            }
        })
            .catch(error => {
            console.error('Erro ao enviar a solicitação:', error);
        });
    });

    document.getElementById('reset-button').addEventListener('click', async () => {
        const confirmation = confirm("Tem certeza de que deseja resetar as tabelas? Esta ação não pode ser desfeita.");
        if (confirmation) {
            try {
                const response = await fetch('/reset_trending_products_tables', { method: 'POST' });
                const data = await response.json();
                if (data.success) {
                    alert("Tabelas resetadas com sucesso!");
                    location.reload(); // Recarrega a página para atualizar as tabelas
                } else {
                    alert("Erro ao resetar tabelas: " + data.error);
                }
            } catch (error) {
                console.error("Erro ao resetar tabelas:", error);
                alert("Erro ao resetar tabelas.");
            }
        }
    });


    displayTables(files, false, '');
</script>
</body>
</html>
